@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#000;
    color: #fff;
}
ul{
    margin: 0;
}
a{
    color: #fff;
}
.btn-outline-danger:hover{
    transition: 0.8s;
    border-radius:0px;
}
p,a{
    font-size: 0.9rem;
}
.bg-like{
    background-color: #f15060;
    border-color: #f15060 !important;
}
.ch-pink:hover{
    transition: 0.8s;
    color: #f15060;
}
.bg-gray{
    background-color: #0f1012;
}
ul li a:hover{
    transition: 0.8s;
    color: #f15060;
}